[submodule "sysroot/opt/rbenv"]
	path = sysroot/opt/rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "sysroot/opt/ruby-build"]
	path = sysroot/opt/ruby-build
	url = git://github.com/sstephenson/ruby-build.git
